:root {
  --main-color: #999;
  --bg-color: #141414;
  --white-color: #fff;
  --grey-color: #bfbfbf;
  --red-color: #E50000;
  --red-hover-color: #8f0d0d;
  --dark-color-1: #1f1f1f;
  --dark-color-2: #0f0f0f;
  --dark-color-3: #1a1a1a;
  --dark-color-4: #262626;
  --dark-color-5: #333;
  --bg-img: #545353;
}